@model IEnumerable<RedditService_Data.Topic>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>@Html.ActionLink("Create New", "Create")</p>
<table>
    <tr>
        <th>Index</th>
        <th>Title</th>
        <th>Content</th>
        <th>Photo</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.RowKey)</td>
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.Content)</td>
            <td>
                @if (!string.IsNullOrEmpty(item.ImageUrl))
                {
                    <img src="@item.ImageUrl" alt="Image" style="max-width: 100px; height: auto;" />
                }
                else
                {
                    <span>No Image</span>
                }
            </td>
        </tr>
    }
</table>