@model IEnumerable<RedditService_Data.Topic>
@{
    ViewBag.Title = "Index";
    var authCookie = Request.Cookies[System.Web.Security.FormsAuthentication.FormsCookieName];
    string userName = null;
    if (authCookie != null)
    {
        var authTicket = System.Web.Security.FormsAuthentication.Decrypt(authCookie.Value);
        userName = authTicket?.Name; // This will be the email in this case
    }
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<h2>Reddit</h2>

@if (!string.IsNullOrEmpty(userName))
{
    <p>Welcome, @userName!</p>
    <p>@Html.ActionLink("Logout", "Logout", "Login")</p>
}
else
{
    <p>@Html.ActionLink("Login", "ShowLogin", "Login")</p>
}
<p>@Html.ActionLink("Create New", "Create")</p>
<p>@Html.ActionLink("Register User", "ShowRegister", "Register")</p>
<p>@Html.ActionLink("View Users", "ShowListUsers", "Register")</p>
<p>@Html.ActionLink("Edit User", "ShowEdit", "EditProfile")</p>

<button onclick="location.href='@Url.Action("Index", new { sortOrder = "asc" })'">Sort Asc</button>
<button onclick="location.href='@Url.Action("Index", new { sortOrder = "desc" })'">Sort Desc</button>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(item.ImageUrl))
                {
                    <img src="@item.ImageUrl" alt="Image" />
                }
                else
                {
                    <span>No Image</span>
                }
            </td>
            <td>
                <strong>@Html.DisplayFor(modelItem => item.Title)</strong>
                <p>@Html.DisplayFor(modelItem => item.Content)</p>
                <p><em>@Html.DisplayFor(modelItem => item.RowKey)</em></p>
            </td>
            <td class="vote-buttons">
                <p>Upvotes: @item.Upvotes</p>
                <p>Downvotes: @item.Downvotes</p>
                @using (Html.BeginForm("Upvote", "Topics", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" value="@item.RowKey" />
                    <button type="submit">Upvote</button>
                }
                @using (Html.BeginForm("Downvote", "Topics", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" value="@item.RowKey" />
                    <button type="submit">Downvote</button>
                }
            </td>
            <td>
                @using (Html.BeginForm("Delete", "Topics", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" value="@item.RowKey" />
                    <button type="submit" class="delete-button" onclick="return confirm('Are you sure you want to delete this topic?');">Delete</button>
                }
            </td>
        </tr>
    }
</table>